# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../DeckButtons\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../:\drayl\Storage\ObjectDynamics\Projects\DeckButtons\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
